# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
Assets/Models/Ship/ship.glb filter=lfs diff=lfs merge=lfs -text
*.gsd filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
